* {
  box-sizing: border-box;
}

/* Remove hyperlink when mouse hovers over element */
a:hover {
  text-decoration: none;
}

.underline:hover {
  text-decoration: underline;
}

body {
  font-family: 'Lato', sans-serif;
}

body p, li {
  font-size: 17px;
}

/* Resume color */
.blue {
  color: #367DA2;
}

.navbar-brand {
  margin-left: -10px;
}

.jumbotron {
  background-color: white;
  margin-top: -15px;
  margin-bottom: -10px;
}

.jumbotron h1, h6, p, li {
  color: black;
}

.jumbotron h1 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
}

.jumbotron h6 {
  padding-top: 10px;
  letter-spacing: 2px;
}

/* Grow effect for cards */
.effect {
   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -webkit-transition-property: transform;
   transition-property: transform;
 }

.effect:hover {
   -webkit-transform: scale(1.06);
   transform: scale(1.06);
 }

 .center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
 }

 .card {
   border: none!important;
 }

.card-title {
  color: black;
  padding-top: 20px;
  font-weight: bold;
}

.santorini {
  background-color: #98B9EB;
}

.alarmio {
  background-color: #BDD8EC;
}

.dining {
  background-color: #bdb0de;
}

.medalarm {
  background-color: #deb0ba;
}

/* Title of projects */
.title {
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

/* Santorini page*/
.spacing {
  line-height: 1.65em;
}

.carousel {
  padding-top: 30px;
  padding-bottom: 20px;
}

.carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: lightgray;
}

.carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 10px;
    background-color: gray;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '›';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '‹';
  font-size: 55px;
  color: black;
}

.mobile-only {
  display: none;
}

/* Alarmio page*/

.float-right {
  float: center;
  margin-left: 50px;
}

.float-left {
  float: left;
  margin-right: 50px;
}

.grid-container {
  display: grid;
  margin-left: 100px;
  margin-right: 100px;
  grid-template-columns: 125px 200px 150px 300px 150px;
  justify-content: space-evenly;
  grid-column-gap: 10px;
  padding-top: 100px;
  padding-bottom: 50px;
}

.grid-container h6 {
  color: gray;
  opacity: 80%;
  text-transform: uppercase;
}

.row-text {
  display: flex;
}

.column-text {
  padding-top: 50px;
  line-height: 200%;
}

.pad-right {
  padding-right: 100px;
}

.img-fluid {
  text-align: center;
}

.heading {
  margin-left: 100px;
  font-weight: bold;
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
}

.subtitle {
  padding-top: 30px;
}

.storyboard {
  margin-right: 20px;
  margin-bottom: 20px;
}

.prototype-img {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.screens {
  padding: 10px;
}

.alarmio-btn {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.back {
  margin-left: 100px;
  margin-bottom: 50px;
}

.next {
  margin-right: 100px;
  margin-bottom: 50px;
}

/* Dining page */
.dining-img {
  padding-top: 20px;
  padding-bottom: 20px;
}

.final {
  margin-bottom: 40px;
  margin-left: 20px;
}

.hide {
  display: none;
}

/* MedAlarm page */
.medalarm-img {
  margin-top: 35px;
  margin-bottom: 50px;
}

/* About page */
.about {
  line-height: 175%;
  padding: 50px 200px;
}

.about-row {
  display: flex;
}

.about-heading {
  padding-bottom: 10px;
}

.skills-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
}

.skills-grid h6 {
  color: gray;
}

.skills-img {
  margin-bottom: 10px;
  margin-top: 30px;
}

.attribute {
  font-size: 12px;
  color: lightgray;
}

.hobby-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
}

.hobby-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-column-gap: 20px;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #fdfdfd;
  padding-top: 40px;
  padding-bottom: 20px;
}

footer p {
  margin-left: 100px;
  color: gray;
}

.icon {
  padding-right: 100px;
  margin-left: 10px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones */
  [class*="card-"] {
    width: 100%;
  }

  .title {
    font-size: 35px;
  }

  .grid-container {
    grid-template-columns: auto;
    margin-left: 20px;
    margin-right: 10px;
    padding-top: 50px;
    padding-bottom: 0px;
  }

  .row-text {
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }

  .col-sm-4 {
    max-width: 100%;
    padding-left: 10px;
  }

  .col-sm-8 {
    max-width: 100%;
    padding-left: 10px;
  }

  .heading {
    margin-left: 0px;
  }

  .pad-right {
    padding-right: 10px;
    padding-top: 10px;
  }

  .carousel {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .back {
    margin-left: 10px;
    margin-bottom: 30px;
  }

  .next {
    margin-right: 10px;
    margin-bottom: 30px;
  }

  .float-right {
    float: center;
    margin-left: 10px;
  }

  .about {
    padding: 10px 8px;
  }

  .about-row {
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }

  .profile {
    margin-bottom: 20px;
  }

  .skills, .hobbies {
    margin-left: 20px;
    margin-right: 20px;
  }

  .skills-grid {
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .hobby-grid {
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  footer p {
    margin-left: 0px;
  }

  .icon {
    padding-right: 10px;
    margin-left: 10px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1100px) {
  /* For tablets */
[class*="card-"] {
    width: 100%;
  }

  #work {
    padding-left: 20px;
    padding-right: 0px;
  }

  .grid-container {
    grid-template-columns: auto;
    margin-left: 100px;
    margin-right: 100px;
  }

  .row-text {
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
  }

  .col-sm-4 {
    max-width: 100%;
    padding-left: 0px;
  }

  .col-sm-8 {
    max-width: 100%;
    padding-left: 0px;
  }

  .heading {
    margin-left: 0px;
    padding-top: 15px;
  }

  .pad-right {
    padding-right: 0px;
    padding-top: 10px;
  }

  .about {
    padding: 10px 80px;
  }

  .profile {
    margin-right: 10px;
  }

  .skills-grid {
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .hobby-grid {
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  footer p {
    margin-left: 100px;
  }

  .icon {
    padding-right: 10px;
    margin-right: 100px;
  }
}

@media only screen and (min-width: 992px) {
/* For desktop */
  .card-deck {
    padding: 10px 150px;
    padding-top: 0px;
  }

  #work {
    padding-left: 20px;
    padding-right: 20px;
  }
}
