* {
  box-sizing: border-box;
}

/* Remove hyperlink when mouse hovers over element */
a:hover {
  text-decoration: none;
}

.underline:hover {
  text-decoration: underline;
}

body {
  font-family: 'Lato', sans-serif;
}

body p, li {
  font-size: 17px;
}

/* Resume color */
.blue {
  color: #367DA2;
}

#top-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    z-index: 999;
    -webkit-box-shadow: 0 8px 8px #efefef;
    -moz-box-shadow: 0 8px 8px #efefef;
    box-shadow: 0 6px 6px #efefef;
    display: none;
}

.navbar{
    z-index:1000; /* lift .navbar above #top-shadow */
}

.navbar.affix{ /* position fixed navbar */
    top:0;
    width:100%;
}

.navbar-brand {
  font-weight: bolder;
  font-size: 25px;
  text-transform: capitalize;
}

.jumbotron {
  background-color: white;
  margin-bottom: -10px;
  margin-top: 60px;
}

.jumbotron h1, h6, p, li {
  color: black;
}

.jumbotron h1 {
  font-weight: bold;
  letter-spacing: 2px;
}

.jumbotron h4 {
  padding-top: 10px;
  letter-spacing: 1px;
}

/* Grow effect for cards */
.effect {
   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -webkit-transition-property: transform;
   transition-property: transform;
 }

.effect:hover {
   -webkit-transform: scale(1.06);
   transform: scale(1.06);
 }

 .center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
 }

 .card {
   border: none!important;
 }

.card-title {
  color: black;
  padding-top: 20px;
  font-weight: bold;
}

.highlight {
  background: linear-gradient(180deg, transparent 50%, #367DA2 50%);
}

.santorini {
  background-color: #98B9EB;
}

.dexcom {
  background-color: #D3E8C5;
}

.alarmio {
  background-color: #BDD8EC;
}

.dining {
  background-color: #bdb0de;
}

.medalarm {
  background-color: #deb0ba;
}

/* Title of projects */
.title {
  margin-top: 60px;
  margin-bottom: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

/* Santorini page*/
.parallax {
  /* Set a specific height */
  height: 700px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.santorini-heading {
  color: #629CF1;
}

.spacing {
  line-height: 1.7em;
}

.santorini-wireframe {
  padding-bottom: 20px;
}

.carousel {
  padding-top: 30px;
  padding-bottom: 20px;
}

.carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: lightgray;
}

.carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 10px;
    background-color: gray;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '›';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '‹';
  font-size: 55px;
  color: black;
}

.mobile-only {
  display: none;
}

/* modal images, tap to enlarge */
.modal-img {
  cursor: pointer;
  transition: 0.3s;
}

.modal-img:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: rgba(0,0,0,0.75); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 80px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 85px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.santorini-final {
  margin-top: 20px;
}

/* Alarmio page*/

.float-right {
  float: center;
  margin-left: 50px;
}

.float-left {
  float: left;
  margin-right: 50px;
}

.grid-container {
  display: grid;
  /*margin-left: 100px;
  margin-right: 100px;*/
  grid-template-columns: 125px 200px 160px 300px 150px;
  justify-content: space-evenly;
  grid-column-gap: 10px;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 0px;
}

.grid-container h6 {
  color: gray;
  opacity: 80%;
  text-transform: uppercase;
}

.col-sm-4 {
  padding-left: 0px;
  padding-right: 30px;
}

.row-text {
  display: flex;
}

.column-text {
  padding-top: 50px;
  line-height: 200%;
}

.img-fluid {
  text-align: center;
}

.heading {
  /*margin-left: 100px;*/
  font-weight: bold;
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
}

.subtitle {
  padding-top: 30px;
  font-weight: bold;
}

.flex-div {
  display: flex;
  flex-direction: row;
}

.storyboard {
  margin-right: 20px;
  margin-bottom: 20px;
}

.prototype-img {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.screens {
  padding: 10px;
}

.alarmio-btn {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.back {
  margin-bottom: 50px;
}

.next {
  margin-bottom: 50px;
}

/* Dining page */
.dining-img {
  padding-top: 20px;
  padding-bottom: 20px;
}

.subheading {
  font-weight: bold;
}

.quote {
  font-size: 20px;
  background-color: #efefef;
  padding: 15px 15px;
}

.final {
  margin-bottom: 40px;
  margin-right: 20px;
}

.hide {
  display: none;
}

/* MedAlarm page */
.medalarm-img {
  margin-top: 35px;
  margin-bottom: 50px;
}

/* About page */
.about {
  line-height: 175%;
  padding-top: 80px;
  /*padding: 50px 200px;*/
}

.about-row {
  display: flex;
}

.about-heading {
  padding-bottom: 10px;
  font-weight: bold;
  letter-spacing: 2px;
}

.about-subheading {
  padding-top: 10px;
  font-weight: bold;
  letter-spacing: 2px;
}

.skills-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
}

.skills-grid h6 {
  color: gray;
}

.skills-img {
  margin-bottom: 10px;
  margin-top: 30px;
}

.attribute {
  font-size: 12px;
  color: lightgray;
}

.hobby-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
}

.hobby-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

footer {
  padding-top: 50px;
  padding-bottom: 30px;
  opacity: 80%;
}

.footer-icons {
  margin-bottom: 20px;
}

.footer-icons a {
  margin: 10px;
}

.footer-icons a:hover {
  opacity: 100%;
  color: #367DA2;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones */

  [class*="card-"] {
    width: 100%;
  }

  .title {
    font-size: 35px;
  }

  .parallax {
    background-attachment: scroll;
  }

  .grid-container {
    grid-template-columns: auto;
    margin-left: 20px;
    margin-right: 10px;
    padding-top: 50px;
    padding-bottom: 0px;
  }

  .row-text {
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }

  .col-sm-4 {
    max-width: 100%;
    padding-left: 10px;
  }

  .col-sm-8 {
    max-width: 100%;
    padding-left: 10px;
    padding-top: 10px;
  }

  .body-content {
    padding-left: 0;
    padding-right: 0;
  }

  .heading {
    margin-left: 0px;
  }

  .carousel {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .back {
    margin-left: 10px;
    margin-bottom: 30px;
  }

  .next {
    margin-right: 10px;
    margin-bottom: 30px;
  }

  .float-right {
    float: center;
    margin-left: 10px;
  }

  iframe {
    width: 350px;
  }

  .flex-div {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .about {
    padding: 10px 8px;
  }

  .about-row {
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }

  .profile {
    margin-bottom: 20px;
  }

  .skills, .hobbies {
    margin-left: 20px;
    margin-right: 20px;
  }

  .skills-grid {
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .hobby-grid {
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  footer p {
    margin-left: 0px;
  }

  .icon {
    padding-right: 10px;
    margin-left: 20px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1100px) {
  /* For tablets */
[class*="card-"] {
    width: 100%;
  }

  #work {
    padding-left: 20px;
    padding-right: 0px;
  }

  .grid-container {
    grid-template-columns: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .row-text {
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
  }

  .col-sm-4 {
    max-width: 100%;
    padding-left: 0px;
  }

  .col-sm-8 {
    max-width: 100%;
    padding-left: 0px;
    padding-top: 10px;
  }

  .heading {
    margin-left: 0px;
    padding-top: 15px;
  }

  .back, .next {
    margin-left: 100px;
    margin-right: 100px;
  }

  .flex-div {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  iframe {
    width: 500px;
  }

  .about {
    padding: 10px 80px;
  }

  .profile {
    margin-right: 10px;
  }

  .skills-grid {
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .hobby-grid {
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  footer p {
    margin-left: 100px;
  }

  .icon {
    padding-right: 10px;
    margin-right: 100px;
  }
}

@media only screen and (min-width: 992px) {
/* For desktop */
  .card-deck {
    padding-bottom: 10px;
  }

  #work {
    padding-left: 20px;
    padding-right: 20px;
  }
}
